<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dooral.DooralSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dooral.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CFAIncidentsReader.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dooral.DooralSettings>
            <setting name="SimulationModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveCFARSSFeeds" serializeAs="String">
                <value>False</value>
            </setting>
        </Dooral.DooralSettings>
        <Dooral.ApplicationSettings>
            <setting name="SimulationModeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveCFARSSFeeds" serializeAs="String">
                <value>False</value>
            </setting>
        </Dooral.ApplicationSettings>
        <CFAIncidentsReader.ApplicationSettings>
            <setting name="SimulationModeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </CFAIncidentsReader.ApplicationSettings>
    </userSettings>
</configuration>